<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link rel="stylesheet" href="../assets/css/Dashboard.css" />

    <title>Dashboard</title>
  </head>
  <body>
    <div class="layout">
      <nav class="side-nav" id="nav-bar"></nav>
      <!-- Aquí se inyecta tu barra -->
      <header>
        <script src="../assets/js/auth.js"></script>
      </header>
      <!-- main -->
      <main class="page-content">
        <!-- graficos -->
        <div class="graficos">
          <div class="titulo1">Tus ahorros</div>
          <div class="titulo2">Balance</div>
          <div class="titulo3">Saldo Neto</div>
          <!-- ahorro -->
          <div class="ahorro">
            <div id="chartAhorros"></div>
          </div>
          <div class="balance" id="chartBalance"></div>

          <!-- Tabla Neto -->
          <div class="neto">
            <div class="cuadro-neto">
              <div class="total-ingresos"><h2 id="ingresos">Total ingresos</h2></div>
              <div class="total-egresos"><h2 id="egresos">Total egresos</h2></div>
              <div class="saldo-neto"><h2 id="neto">Saldo neto</h2></div>
            </div>
          </div>
          <!-- Botones -->
          <div class="btn-ahorro"><button type="button" class="boton">ahorro</button></div>
          <div class="btn-ingresos"><button type="button" class="boton">ingresos</button></div>
          <div class="btn-egresos"><button type="button" class="boton">egresos</button></div>
        </div>
        <!-- resumen -->
        <div class="resumen" id="treemap-gastos">

        </div>
        <!-- alertas -->
        <div class="alertas">
          <div class="alerta" id="alerta"></div>
          <div class="recordatorio" id="recordatorio"></div>
          <div class="mensaje" id="mensaje"></div>
        </div>
      </main>
    </div>

<script src="../assets/js/nav-bar.js"></script>    
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> 
    <script src="../assets/js/Dashboard.js"></script>
  </body>
</html>
