<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú</title>
    <link rel="stylesheet" href="../assets/css/nav-bar.css" />
    <link rel="stylesheet" href="../assets/css/menu.css" />
  </head>
  <body>
    <div class="layout">
      <div id="nav-bar"></div>
      <div class="page-content">
        <div class="contenedor">
          <h1>Estoy en Menú</h1>
        </div>
      </div>
    </div>
    <script src="../assets/js/nav-bar.js"></script>
  </body>
</html>