<link rel="stylesheet" href="../assets/css/conceptoEgresos.css">
<link rel="stylesheet" href="../assets/css/VariablesGlobales.css">

<div id="contenedorCategorias">
  <button id="agregarCategoriaBtn">+ Agregar nueva categoria</button>
</div>

<div id="modal" class="modal">
  <div class="modal-content" id="modal-content-selector">
    <div class="modal-header">
      <h2>Selecciona una categoría</h2>
      <span class="close">&times;</span>
    </div>
    
    <div class="content-selectorCategorias">
      <select class="selectorCategorias" id="selectorCategorias">
        <option disabled selected>-- Elige una subcategoría --</option>
      </select>
    </div>
  </div>
</div>

<div id="categoriasSeleccionadas"></div>