<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HTML</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="../assets/css/header.css">
</head>

<body>
  <header class="gastu-header">
  <div class="perfil-info">
    <img src="https://cdn-icons-png.flaticon.com/512/1077/1077012.png" alt="Perfil" class="perfil-icono">
    <div class="usuario-detalle">
      <p id="nombreUsuario" class="usuario-nombre">Usuario</p>
      <p id="rolUsuario" class="usuario-rol">Rol</p>
    </div>
  </div>
  <button id="cerrarSesionBtn" class="cerrar-sesion-btn">Cerrar sesión</button>
</header>

<!-- Enlace a estilos -->
<link rel="stylesheet" href="../assets/css/header.css" />

<!-- Enlace a script -->
<script src="../assets/js/header.js" defer></script>
</body>
</html>