<link rel="stylesheet" href="/assets/css/nav-bar.css">
<nav class="side-nav" id="nav-bar">
  <div class="side-nav-header">
    <div class="side-nav-brand">
      <span class="side-nav-logo">
        <img src="../assets/icons/gastu_logo.svg" alt="Logo Gastu" />
      </span>
      <span class="side-nav-title">Gastu</span>
    </div>
    <hr class="side-nav-separator" />
  </div>
  <div class="side-nav-main">
    <div class="side-nav-top-group">
      <button class="side-nav-menu-btn" id="side-nav-toggle">
        <span class="side-nav-menu-icon">
          <img src="../assets/icons/barras.svg" alt="Menú" width="22" height="22" />
        </span>
        <span class="side-nav-text">Menú</span>
      </button>
      <ul class="side-nav-list">
        <li data-page="dashboard">
          <a href="../views/Dashboard.html">
            <span class="side-nav-icon"><img src="../assets/icons/casa.svg" alt="dashboard" /></span>
            <span class="side-nav-text">Inicio</span>
          </a>
        </li>
        <li data-page="ingresos">
          <a href="../views/Ingresos.html">
            <span class="side-nav-icon"><img src="../assets/icons/ingresos.svg" alt="Ingresos" /></span>
            <span class="side-nav-text">Ingresos</span>
          </a>
        </li>
        <li data-page="egresos">
          <a href="../views/Gastos.html">
            <span class="side-nav-icon"><img src="../assets/icons/egresos.svg" alt="Egresos" /></span>
            <span class="side-nav-text">Egresos</span>
          </a>
        </li>
        <li data-page="ahorros">
          <a href="../views/Ahorros.html">
            <span class="side-nav-icon"><img src="../assets/icons/ahorro.svg" alt="Ahorro" /></span>
            <span class="side-nav-text">Ahorro</span>
          </a>
        </li>
        <li data-page="reportes">
          <a href="../views/Reportes.html">
            <span class="side-nav-icon"><img src="../assets/icons/reportes.svg" alt="Reportes" /></span>
            <span class="side-nav-text">Reportes</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="side-nav-footer">
    <a href="../views/Ayuda.html" class="side-nav-footer-link" data-page="ayuda">
      <span class="side-nav-icon"><img src="../assets/icons/pregunta.svg" alt="Ayuda" /></span>
      <span class="side-nav-text">Ayuda</span>
    </a>
    <a href="../views/Perfil.html" class="side-nav-footer-link" data-page="perfil">
      <span class="side-nav-icon"><img src="../assets/icons/perfil.svg" alt="Perfil" /></span>
      <span class="side-nav-text">Perfil</span>
    </a>
  </div>
</nav>