<link rel="stylesheet" href="/assets/css/nav-bar-administrador.css">
<nav class="side-nav-admin">
  <div class="side-nav-main">
    <div class="side-nav-header">
      <div class="side-nav-brand">
        <span class="side-nav-logo">
          <img src="../assets/icons/gastu_logo.svg" alt="Logo Gastu" />
        </span>
        <span class="side-nav-title side-nav-text">Gastu</span>
      </div>
      <hr class="side-nav-separator" />
    </div>
    <div class="side-nav-top-group">
      <button class="side-nav-menu-btn" id="side-nav-toggle">
        <span class="side-nav-menu-icon">
          <img src="../assets/icons/barras.svg" alt="Menú" width="22" height="22" />
        </span>
        <span class="side-nav-text">Menú</span>
      </button>
      <ul class="side-nav-list">
        <li data-page="inicio">
          <a href="../views/administrador.html">
            <span class="side-nav-icon"><img src="../assets/icons/casa.svg" alt="Inicio" /></span>
            <span class="side-nav-text">Inicio</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="side-nav-footer">
    <a href="../views/Ayuda.html" class="side-nav-footer-link" data-page="ayuda">
      <span class="side-nav-icon"><img src="../assets/icons/pregunta.svg" alt="Ayuda" /></span>
      <span class="side-nav-text">Ayuda</span>
    </a>
    <a href="../views/Perfil.html" class="side-nav-footer-link" data-page="perfil">
      <span class="side-nav-icon"><img src="../assets/icons/perfil.svg" alt="Perfil" /></span>
      <span class="side-nav-text">Perfil</span>
    </a>
  </div>
</nav>