<nav class="side-nav">
  <div class="side-nav-header">
    <img src="../assets/images/gastu_logo.jfif" alt="Logo Gasty" class="side-nav-logo" />
    <span class="side-nav-title">Gastu</span>
    <hr class="side-nav-separator" />
  </div>
  <div class="side-nav-top-group">
    <button class="side-nav-menu-btn">
      <span class="side-nav-menu-icon">
        <img src="../assets/icons/barras.svg" alt="Menú" width="22" height="22" />
      </span>
      Menú
    </button>
    <ul class="side-nav-list">
      <li data-page="inicio">
        <a href="../views/Inicio.html">
          <span class="side-nav-icon"><img src="../assets/icons/casa.svg" alt="Inicio" /></span>
          Inicio
        </a>
      </li>
      <li data-page="ingresos">
        <a href="../views/Ingresos.html">
          <span class="side-nav-icon"><img src="../assets/icons/ingresos.svg" alt="Ingresos" /></span>
          Ingresos
        </a>
      </li>
      <li data-page="egresos">
        <a href="../views/Gastos.html">
          <span class="side-nav-icon"><img src="../assets/icons/egresos.svg" alt="Egresos" /></span>
          Egresos
        </a>
      </li>
      <li data-page="ahorro">
        <a href="../views/Presupuesto.html">
          <span class="side-nav-icon"><img src="../assets/icons/ahorro.svg" alt="Ahorro" /></span>
          Ahorro
        </a>
      </li>
      <li data-page="reportes">
        <a href="../views/Reportes.html">
          <span class="side-nav-icon"><img src="../assets/icons/reportes.svg" alt="Reportes" /></span>
          Reportes
        </a>
      </li>
    </ul>
  </div>
  <div class="side-nav-footer">
    <a href="../views/Ayuda.html" class="side-nav-footer-link">
      <span class="side-nav-icon"><img src="../assets/icons/pregunta.svg" alt="Ayuda" /></span>
      Ayuda
    </a>
    <a href="../views/Perfil.html" class="side-nav-footer-link">
      <span class="side-nav-icon"><img src="../assets/icons/perfil.svg" alt="Perfil" /></span>
      Perfil
    </a>
  </div>
</nav>