body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a1a1a;
  box-shadow: 0 2px 5px  rgba(0, 0, 0, 0.1);
}

.header a {
  color:white;
  text-decoration: none;
  margin: 0.5rem;
  font-weight: bold;
  transition: color 0.3s;
}

.header a:hover {
  color: #9B59B6; 
}

.header-left, .header-right {
  display: flex;
}

.inicio {
  background-color: #9B59B6;
  color: white;
  padding: 2.5rem 1rem;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.funciones-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 3rem;
  background-color: #FFFFFF;
}


.funcion {
  background-color: white;
  padding: 1.5rem;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.funcion:hover {
  transform: translateY(-5px);
}

.icon-placeholder {
  width: 110%;
  height: 220px;
  background-color: #dcdcdc;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 2rem;
  background-color: black;
  color: white;
}

.footer h3 {
  color: #9B59B6;
  margin-bottom: 0.5rem;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
}

.funcion {
  display: grid;
  justify-items: center; 
  text-align: center;
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(155, 89, 182, 0.3); 
  transition: transform 0.2s;
}

.funcion:hover {
  transform: translateY(-5px); 
}

.funcion img {
  width: 100%;
  max-width: 100px; 
  height: auto;
  margin-bottom: 0.5rem;
}

.funcion p {
  font-weight: 500;
  color: #8E4EC6;
  margin: 0;
}

/* RESPONSIVA */
@media (max-width: 768px) {
  .funcion, .funciones-grid {
    grid-template-columns: 1fr;
  }
}


