:root {
  --gasto-guanabana: #F5F2E9;
  --gasto-beige: #dddad8;
  --gasto-gris: #a7a6a6;
  --gasto-primary: #D72638;
  --gasto-hover: #BA1E2F;
  --gasto-border: #C62828;
  --gasto-text: #ffffff;
  --gasto-muted: #8D99AE;
  --gasto-grisOscuro: #9b9898;
}